body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    background-color: rgb(157, 161, 131);
   
}
  
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:black;
}
  
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
  
textarea{
    background: rgb(250, 223, 69);
    opacity: 0.5;
    border: none;
    resize: none;
    color: white;
    border-left: 1px solid black;
    padding: 10px;
    border-bottom: 2px solid black;
}
  
header {
    text-align: center;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
  
.description{
    white-space: pre-wrap;
}
  
.time-block{
    text-align: center;
    border-radius: 15px;
}
  
.row {
    white-space: pre-wrap;
    height: 75px;
}
  
.hour {
    background-color:rgb(99, 88, 243);
    color: #000000;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom: 2px dotted black;
}
  
.past {
    background-color: #da2d2d;
    color: white;
}
  
.present {
    background-color: #40dab8;
    color: white;
}
  
.future {
    background-color: #199e19;
    color: white;
}
  
.saveBtn {
    border-left: 1px solid black;
    border-bottom: 2px dotted grey;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #CCCAC6;
    color: white;
    text-align: center;
    padding-left: 0;
}
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}